@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  /* background: repeating-linear-gradient(
    45deg,
    #222,
    #222 5px,
    #e5e5f7 5px,
    #e5e5f7 25px
  ); */

  color-scheme: light dark;
  color: #222;
}

div.temp {
  background: repeating-linear-gradient(
    45deg,
    #4444,
    #4444 15px,
    #91919120 15px,
    #91919120 30px
  );
}
