@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  /* background: repeating-linear-gradient(
    45deg,
    #222,
    #222 5px,
    #e5e5f7 5px,
    #e5e5f7 25px
  ); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
  color: #222;
}

div.temp {
  background: repeating-linear-gradient(
    45deg,
    #4444,
    #4444 15px,
    #91919120 15px,
    #91919120 30px
  );
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
